<!DOCTYPE html>
<html>
  <body>
    <%=session.title%>
    <br />
    <%=session.speaker.name%>
    <br />
    Speaker Bio: <%=session.speaker.bio%>
     <br />
    DEscription: <%=session.description%>
  </body>
</html>
